[Unit]
Description=Traefik PKI client cert whitelisting agent
After=network.target

[Service]
ExecStart=/opt/auth/traefikAuth

[Install]
WantedBy=docker.service
